@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 180 29% 5%;

    --primary: 174 100% 32%;
    --primary-foreground: 168 88% 97%;

    --secondary: 20 6% 90%;
    --secondary-foreground: 180 29% 5%;

    --success: 142.13 76.22% 36.27%;
    --success-foreground: 0 0% 98.04%;

    --danger: 0 72.22% 50.59%;
    --danger-foreground: 0 0% 98.04%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 173 97%42%;

    --primary-50: 168 88% 97%;
    --primary-100: 168 100% 89%;
    --primary-200: 168 100% 78%;
    --primary-300: 170 93% 64%;
    --primary-400: 172 79% 50%;
    --primary-500: 173 97% 42%;
    --primary-600: 174 100% 32%;
    --primary-700: 175 94% 26%;
    --primary-800: 175 84% 22%;
    --primary-900: 176 73% 19%;
    --primary-950: 179 100% 10%;
  }

  .dark {
    --background: 180 29% 5%;
    --foreground: 168 88% 97%;

    --primary: 175 94% 26%;
    --primary-foreground: 168 100% 79%;

    --secondary: 179 100% 10%;
    --secondary-foreground: 168 100% 79%;

    --success: 143.81 61.17% 20%;
    --success-foreground: 0 0% 98.04%;

    --danger: 0 62.82% 30.59%;
    --danger-foreground: 0 0% 98.04%;

    --border: 0 0% 9.02%;
    --input: 0 0% 9.02%;
    --ring: 173 97% 42%;
  }
}